/* Add here all your css styles (customizations) */
/*p.font-custom {
    text-align:left;
}*/
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, span {
    font-family:Microsoft YaHei,'ו', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

p {
    font-size: 13px;
    line-height: 25px;
}

    p.head-text {
        width: 100%;
        display: block;
        line-height: 1.5em;
        overflow: visible;
        font-size: 50px;
        text-shadow: #f3f3f3 3px 3px 5px, #b2b2b2 3px 3px 5px;
    }
/*p.font-custom {
    position:relative;
    display: inline-block;
    color: #2f373a; 
    text-transform: uppercase;
    font-family: Microsoft YaHei;
    text-align:left;
    font-size: 20px;
    letter-spacing: -4px;
    text-shadow:2px 2px 0px rgba(255,255,255,0.5);
}
@media  screen and (-webkit-min-device-pixel-ratio:0) {
    p.font-custom{
      background: -webkit-gradient(linear,left top,left bottom,from(#ccc8c8),to(#000000));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p.font-custom:after {
        content: attr(data-text);
        left: 1px;
        position: absolute;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 0px #808080, 0px 0px 0px rgba(255, 255, 255, 0.1);
        top: 1px;
        z-index: -1;
        width: 100%;
    }
}*/
