<div class="col-md-3">
    <!-- End Photo Stream -->
    <!-- Choose Us -->
    <div class="who margin-bottom-30">
        <p>
            <i class="icon-user"></i>  姓名:左瑞祥<br />
            <i class="icon-calculator"></i>  职业:程序猿(在路上...)<br />
            <i class="icon-home"></i>  现居地:湖北--武汉<br />
        </p>
        <wb:follow-button uid="5607256906" type="red_1" width="100%" height="24px">关注我</wb:follow-button>
        <hr class="margin-bottom-40">
        <img class="img-responsive profile-img margin-bottom-20" src="~/upload/image/timeline/20160101/aa.png" alt="">
        
        <p style="color:darkseagreen">
            一生至少该有一次,<br />
            为了某个人而忘了自己,<br />
            不求结果,<br />
            不求同行,<br />
            不求曾经拥有,<br />
            甚至不求你爱我.<br />
            只求在我最美的年华里,<br />
            遇见你！
        </p>
        <ul class="list-unstyled">
            <li><i class="fa  fa-bell"></i>徐志摩--忘了自己</li>
        </ul>
    </div><!--/who-->
    <!-- End Choose Us -->

</div>